//html, body {
//  @extend .height-100;
//  @extend .width-100;
//}
a {
  -webkit-transition: color .3s linear, opacity .3s linear;
  -moz-transition: color .3s linear, opacity .3s linear;
  -ms-transition: color .3s linear, opacity .3s linear;
  -o-transition: color .3s linear, opacity .3s linear;
  transition: color .3s linear, opacity .3s linear;
}

.ads-container {
  @extend .display-inline-block;
}

.ellipsis {
  color: $dark-gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}