html, body {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  -webkit-box-shadow: inset 0px 19px 64px -30px rgba(0,0,0,0.17);
  -moz-box-shadow: inset 0px 19px 64px -30px rgba(0,0,0,0.17);
  box-shadow: inset 0px 19px 64px -30px rgba(0,0,0,0.17);
}

a {
  -webkit-transition: color .3s linear, opacity .3s linear;
  -moz-transition: color .3s linear, opacity .3s linear;
  -ms-transition: color .3s linear, opacity .3s linear;
  -o-transition: color .3s linear, opacity .3s linear;
  transition: color .3s linear, opacity .3s linear;
}

.ads-container {
  @extend .display-inline-block;
}

.ellipsis {
  color: $dark-gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.margin-bottom-small-1 {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
  }
}

.bgcover {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.bg-white {
  @include breakpoint(large up) {
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 4px;
  }
}

.bgwhite {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}