$padding-x: rem-calc(8);
$lighten-header: lighten($light-gray, 5%);

#topbar {
  padding-top: $padding-x;
  padding-bottom: $padding-x;
  background-color: darken($primary-color, 15%);
  color: $white;
  font-size: rem-calc(10);
  border-bottom: 1px solid $white;
}

#header {
  a[data-mobile-menu] {
    font-size: rem-calc(24);
  }
}

.weather-component {
  border: 2px solid #ffffff;
  border-radius: 4px;
  height: rem-calc(90);
  color: darken($dark-gray, 15%);
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(../img/wh-min.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    opacity: .6;
  }

  > div {
    position: relative;
    z-index: 1;
  }
}

.site-brand {
  @include breakpoint(small only) {
    img {
      width: rem-calc(140);
    }
  }
}

#main-menu {
  //background-color: $alert-color;
  text-transform: uppercase;
  padding-top: rem-calc(5);
  a:not(.search), a:not(.tv-link) {
    color: darken($primary-color, 15%);
    //font-family: $header-font-family;
    &:hover, &.active {
      color: $primary-color;
    }
  }

  li {
    font-weight: 700;

    &:first-child {
      a {
        padding-left: 0;
      }
    }
    //&:not(:first-child) {
    //  a {
    //    padding-left: 0;
    //  }
    //}
  }

  .grid-container {
    border-top: 1px solid $light-gray;

    > div {
      padding-top: rem-calc(3);
      border-top: 1px solid $white;
    }
  }

  .shrink {
    line-height: rem-calc(38);
    font-size: rem-calc(20);
  }
}

a.tv-link {
  color: $alert-color !important;
  font-weight: 900;
}

#header-features {
  padding-top: rem-calc($padding-x);
  padding-bottom: rem-calc($padding-x);
  background-color: $lighten-header;
  font-size: rem-calc(12);
  border-bottom: 1px solid $alert-color;
  border-top: 1px solid #ffffff;

  a {
    color: $dark-gray;
    &:hover {
      color: $primary-color;
    }
    &.nav {
      color: $alert-color;
    }
  }

  .font-bold {
    color: $alert-color;
  }
}

.search {
  line-height: rem-calc(38);
}

#form-search {
  input, .input-group-label {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  input {
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  .input-group-label {
    color: $dark-gray;
  }
}