$padding-x: rem-calc(8);
$lighten-header: lighten($light-gray, 5%);

#topbar {
  padding-top: $padding-x;
  padding-bottom: $padding-x;
  background-color: darken($primary-color, 15%);
  color: $white;
  font-size: rem-calc(10);
  border-bottom: 1px solid $white;

  &.topbar-videos {
    border: none;
    background-color: #333;
  }
}

#header {
  a[data-mobile-menu] {
    font-size: rem-calc(24);
  }
}

.weather-component {
  span {
    font-size: rem-calc(13);
  }
  .icon {
    font-size: rem-calc(30);
    color: $warning-color;
  }
  .min {
    color: rgba($primary-color, .5);
  }
  .max {
    color: rgba($alert-color, .5);
  }
}

.site-brand {
  @include breakpoint(small only) {
    img {
      width: rem-calc(160);
    }
  }
}

#main-menu {
  //background-color: $alert-color;
  text-transform: uppercase;
  padding-top: rem-calc(5);
  a:not(.search), a:not(.tv-link) {
    color: darken($primary-color, 15%);
    //font-family: $header-font-family;
    &:hover, &.active {
      color: $primary-color;
    }
  }

  li {
    font-weight: 700;

    &:first-child {
      a {
        padding-left: 0;
      }
    }
    //&:not(:first-child) {
    //  a {
    //    padding-left: 0;
    //  }
    //}
  }

  .grid-container {
    //border-top: 1px solid $light-gray;

    > div {
      padding-top: rem-calc(3);
      //border-top: 1px solid $white;
    }
  }

  .shrink {
    line-height: rem-calc(38);
    font-size: rem-calc(20);
  }
}

a.tv-link {
  color: $alert-color !important;
  font-weight: 900;
}

#header-features {
  padding-top: rem-calc($padding-x);
  padding-bottom: rem-calc($padding-x);
  background-color: $lighten-header;
  font-size: rem-calc(12);
  border-bottom: 2px solid $light-gray;
  border-top: 2px solid #ffffff;

  a {
    color: $dark-gray;
    &:hover {
      color: $primary-color;
    }
    &.nav {
      color: $alert-color;
    }
  }

  .font-bold {
    color: $alert-color;
  }
}

.search {
  line-height: rem-calc(38);
}

#form-search {
  @include breakpoint(large up) {
    padding-left: rem-calc(16);
    background-color: #fff;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }

  input, .input-group-label {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  input {
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  .input-group-label {
    color: $dark-gray;
  }

  i {
    color: $primary-color;
  }
}

.logo {
  @include breakpoint(small only) {
    img {
      width: rem-calc(100);
    }
  }
}