.header-single {
  border-bottom: 2px solid $light-gray;

  > .grid-container > .align-middle {
    height: rem-calc(60);
  }

  h2 {
    font-size: rem-calc(24);
    line-height: 1;
    a {
      color: darken($primary-color, 15%);
    }
    i {
      color: rgba($dark-gray,.2);
    }
  }

  a:hover {
    color: $primary-color;
  }
}

.share-post {
  display: none;
  @include breakpoint(medium up) {
    display: initial;
    a {
      width: rem-calc(50);
      height: rem-calc(50);
      line-height: rem-calc(50);
    }
  }

  a {
    text-align: center;
    display: inline-block;
    width: rem-calc(40);
    height: rem-calc(40);
    line-height: rem-calc(40);
    border: 1px solid $light-gray;
    border-bottom: none;
    padding: 0;
    font-size: rem-calc(20);

    &:hover {
      color: $alert-color;
    }
  }

  li {
    line-height: 1;
    &:last-child {
      a {
        border-bottom: 1px solid $light-gray;
      }
    }
  }
}

.post-excerpt {
  color: $dark-gray;
  font-size: rem-calc(14);
  font-style: italic;
}

.post-sidebar {
}

.post-features {
  h2 {
    font-size: rem-calc(16);
  }
  a {
    color: $black;
    &:hover {
      color: $primary-color;
    }
  }
  span {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-color;
    line-height: 1;
    font-size: rem-calc(11);
    //margin-bottom: rem-calc(10);
    transform: translateY(2px);
  }
  img {
    transition: all .2s;
    filter: grayscale(35%);
  }
}

.media-object:hover {
  img {
    filter: grayscale(0);
  }
}

.post-content {
  @include breakpoint(small only) {
    p {
      font-size: rem-calc(14);
    }
  }
}

.post-author {
  font-size: rem-calc(14);
  span:last-child {
    font-size: rem-calc(12);
    color: $dark-gray;
  }
  a.display-inline-block {
    color: $black;
    &:first-child {
      margin-right: rem-calc(8);
    }
  }
}

.czn-widget {
  @extend .margin-bottom-1;

  h4 {
    width: 100%;
    font-size: rem-calc(13);
    color: $white;
    background-color: $primary-color;
    line-height: rem-calc(35);
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding: rem-calc(0 16);
    height: rem-calc(35);
  }

  header {
    a {
      color: $white;
    }
  }
}

.post-related {
  h4 {
    @extend .margin-0;
    @extend .width-100;
    padding-bottom: rem-calc(10);
    display: inline-block;
    color: $primary-color;
    font-size: rem-calc(18);
    border-bottom: 2px solid rgba($primary-color, .2);
  }
}

.post-tags {
  font-size: rem-calc(14);
  header {
    font-weight: 800;
    margin-bottom: rem-calc(10);
  }
  li {
    @extend .margin-right-1;
  }
  a {
    @extend .button;
  }
  i {
    color: lighten($primary-color, 15%);
  }
}