.header-single {
  border-bottom: 2px solid $light-gray;

  > .grid-container > .align-middle {
    height: rem-calc(60);
  }

  h2 {
    font-size: rem-calc(24);
    line-height: 1;

    a {
      color: darken($primary-color, 15%);
    }

    i {
      color: rgba($dark-gray, .2);
    }
  }

  a:hover {
    color: $primary-color;
  }
}

.share-post {
  display: none;
  @include breakpoint(medium up) {
    display: initial;
    a {
      width: rem-calc(50);
      height: rem-calc(50);
      line-height: rem-calc(50);
    }
  }

  a {
    text-align: center;
    display: inline-block;
    width: rem-calc(40);
    height: rem-calc(40);
    line-height: rem-calc(40);
    border: 1px solid $light-gray;
    border-bottom: none;
    padding: 0;
    font-size: rem-calc(20);

    &:hover {
      color: $alert-color;
    }
  }

  li {
    line-height: 1;

    &:last-child {
      a {
        border-bottom: 1px solid $light-gray;
      }
    }
  }
}

.post-excerpt {
  color: $dark-gray;
  font-size: rem-calc(14);
  font-style: italic;
}

.post-sidebar {
}

.post-features {
  h2 {
    font-size: rem-calc(16);
  }

  a {
    color: $black;

    &:hover {
      color: $primary-color;
    }
  }

  span {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-color;
    line-height: 1;
    font-size: rem-calc(11);
    //margin-bottom: rem-calc(10);
    transform: translateY(2px);
  }

  img {
    transition: all .2s;
    filter: grayscale(35%);
  }
}

.media-object:hover {
  img {
    filter: grayscale(0);
  }
}

.post-content {
  @include breakpoint(small only) {
    p {
      font-size: rem-calc(14);
    }
  }
}

.post-author {
  font-size: rem-calc(14);

  span:last-child {
    font-size: rem-calc(12);
    color: $dark-gray;
  }

  a.display-inline-block {
    color: $black;

    &:first-child {
      margin-right: rem-calc(8);
    }
  }
}

.czn-widget {
  @extend .margin-bottom-1;

  h4 {
    width: 100%;
    font-size: rem-calc(13);
    color: $white;
    background-color: $primary-color;
    line-height: rem-calc(35);
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding: rem-calc(0 16);
    height: rem-calc(35);
  }

  header {
    a {
      color: $white;
    }
  }
}

.post-related, .last-news-cat {
  h4 {
    @extend .margin-0;
    @extend .width-100;
    padding-bottom: rem-calc(10);
    display: inline-block;
    color: $primary-color;
    font-size: rem-calc(18);
    border-bottom: 2px solid rgba($primary-color, .2);
  }
}

.post-tags {
  font-size: rem-calc(14);

  header {
    font-weight: 800;
    margin-bottom: rem-calc(10);
  }

  li {
    @extend .margin-right-1;
  }

  i {
    color: lighten($primary-color, 15%);
  }
}

.post-video {
  //background: rgba(0, 0, 0, 1);
  //background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(79, 79, 79, 1) 100%);
  //background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(79, 79, 79, 1)));
  //background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(79, 79, 79, 1) 100%);
  //background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(79, 79, 79, 1) 100%);
  //background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(79, 79, 79, 1) 100%);
  //background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(79, 79, 79, 1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4f4f4f', GradientType=0);
  background-color: $black;
}

.big-thumb {
  height: rem-calc(250);
  @extend .margin-bottom-1;
  //position: relative;

  a {
    color: $white;
    top: 0;
    left: 0;
    background-color: rgba($black, .4);
    transition: background-color .2s;

    &:hover {
      background-color: rgba($black, .2);
    }
  }
}

.big-thumb-link {
  bottom: rem-calc(0);
  padding: rem-calc(16);
}

.tag-thumb {
  font-size: rem-calc(10);
  padding: rem-calc(3 6);
  text-transform: uppercase;
  display: inline-block;
  background-color: $primary-color;
  margin-bottom: rem-calc(10);
}

.title-thumb {
  font-size: rem-calc(18);
  @extend .font-header;
  font-weight: 700;
}

.list-cat-tags {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;

  a, strong {
    font-size: rem-calc(12);
    text-transform: uppercase;
  }

  strong {
    line-height: rem-calc(34.38);
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    color: $medium-gray;
  }
}

.news-cat-item {
  @extend .margin-bottom-2;

  &:hover {
    img {
      filter: grayscale(0);
    }
  }

  h2 {
    font-size: rem-calc(18);
  }

  img {
    width: rem-calc(200);
    filter: grayscale(50%);
    transition: all .3s;
  }

  @include breakpoint(small only) {
    img {
      width: rem-calc(120);
    }
    h2 {
      font-size: rem-calc(14);
    }
  }
}

.header-video {
  background-color: #222;
  border: none;

  a, label, input {
    color: $white !important;
  }

  i.fa-play {
    color: $alert-color;
  }
}

.video-player-list {
  background-color: $black;
  @extend .padding-top-2;
  @extend .padding-bottom-2;
}

.video-options {
  @extend .position-absolute;
  right: rem-calc(-46);
  top: 1rem;

  a {
    @extend .display-inline-block;
    width: rem-calc(50);
    height: rem-calc(50);
    line-height: rem-calc(50);
    background-color: #333;
    color: $white;
    text-align: center;
    border-radius: $global-radius;
    font-size: rem-calc(22);
    transition: background-color .2s linear;

    &:hover {
      background-color: darken(#333, 10%);
    }

    &:first-child {
      i:last-child {
        display: none;
      }
      &.light {
        i:first-child {
          display: none;
        }
        i:last-child {
          display: inline-block;
        }
      }
    }
  }
}

.video-player-header {
  @include breakpoint(large up) {
    h2 {
      font-size: rem-calc(36);
    }
  }
  @include breakpoint(medium only) {
    h2 {
      font-size: rem-calc(18);
    }
  }

  a {
    color: $white;
  }

  p {
    color: $medium-gray;
    font-size: rem-calc(14);
  }
  .open-share {
    color: $alert-color;
    line-height: rem-calc(34);
  }
}

.video-tag {
  color: $alert-color;
  @extend .text-uppercase;
  margin-bottom: 1rem;
}

.video-feature {
  height: rem-calc(200);
  @extend .margin-bottom-1;

  figure {
    @extend .height-100;
    background-color: $black;
    overflow: hidden;

    > a {
      @extend .position-absolute;
      @extend .width-100;
      @extend .height-100;
      @extend .display-block;
      z-index: 0;
      opacity: .6;
    }

    &:hover {
      > a {
        opacity: .4;
      }
    }
  }

  figcaption {
    @include vertical-center;
    left: 0;
    padding: 1rem;
    z-index: 10;

    a {
      color: $white;
    }
    i {
      color: $alert-color;
    }
  }

  .media-object {
    margin-bottom: 0;
  }
}

.v-feature-tag {
  color: $alert-color;
  font-size: rem-calc(10);
  @extend .text-uppercase;
  @extend .font-header;
  font-weight: 700;
  margin-bottom: rem-calc(10);
}

.v-feature-title {
  font-weight: 700;
  font-size: rem-calc(20);
  @extend .font-header;
  @include breakpoint(medium only) {
    font-size: rem-calc(14);
  }
}

.list-videos {
  @include  breakpoint(medium up) {
    header {
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% + 200px);
        height: 100%;
        left: -100%;
        top: 0;
        background-color: $alert-color;
        z-index: 0;
      }
    }
  }

  .cell {
    @extend .margin-bottom-2;
  }

  h4 {
    @extend .display-inline-block;
    @extend .width-100;
    @extend .margin-bottom-1;
    font-size: rem-calc(20);
    text-transform: uppercase;
    color: $alert-color;

    i {
      opacity: .5;
    }
  }

  figure {
    &:hover {
      figcaption {
        a {
          color: $primary-color;
        }
      }
    }
    > a {
      @extend .display-block;
      @extend .position-relative;
      background-color: $black;
      color: $white;

      &:hover {
        img {
          opacity: .8;
        }
        span {
          opacity: 1;
        }
      }

      span, img {
        transition: opacity .3s;
      }

      img {
        opacity: .6;
        @extend .width-100;
      }

      span {
        @include vertical-center;
        left: 0;
        @extend .width-100;
        @extend .text-center;
        font-size: rem-calc(36);
        z-index: 9;
        opacity: .8;
      }

      p {
        @extend .position-absolute;
        @extend .margin-0;
        @extend .display-block;
        @extend .text-uppercase;
        @extend .font-header;
        bottom: 0;
        left: 0;
        font-size: rem-calc(10);
        background-color: $alert-color;
        z-index: 9;
        padding: rem-calc(3 5);
      }
    }

    figcaption {
      @extend .padding-top-1;
      a {
        color: $black;
        @extend .font-header;
        font-weight: 700;
        font-size: rem-calc(18);
      }
    }
  }

  header {
    background-color: $alert-color;
    @extend .position-relative;
  }

  input {
    @extend .font-header;
    @extend .position-relative;
    z-index: 1;
    font-size: rem-calc(14);
    background-color: darken($alert-color, 10%);
    color: $white;
    border: none;
    &:focus {
      background-color: darken($alert-color, 10%);
      box-shadow: none;
      border: none;
    }
  }
}

.video-aside-header {
  color: $alert-color;
  @extend .font-header;
  @extend .text-uppercase;
  @extend .margin-bottom-1;
  @extend .position-relative;
  font-size: rem-calc(14);
  font-weight: 700;

  &::before {
    content: '';
    @extend .display-block;
    @include vertical-center;
    right: 0;
    width: 50%;
    height: 10px;
    background-color: rgba($alert-color, .1);
  }
}

.video-options-mask {
  @extend .position-fixed;
  @extend .width-100;
  @extend .height-100;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba($black, .9);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.responsive-embed, .video-options {
  &.higher {
    z-index: 9991;
  }
}