<div class="width-100 component-loteria">
    <div class="width-100">
        <header class="width-100 text-center margin-bottom-1">
            <img src="{{root}}assets/img/logo-caixa.png" alt="">
        </header>

        <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title megasena">Megasena</a>
                <div class="accordion-content" data-tab-content>
                    Panel 1. I'm open because I'm loaded that way, but you can't close me
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title quina">Quina</a>
                <div class="accordion-content" data-tab-content>
                    Panel 2. Lorem ipsum dolor
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title lotofacil">Lotofacil</a>
                <div class="accordion-content" data-tab-content>
                    Panel 3. Lorem ipsum dolor
                </div>
            </li>
        </ul>
    </div>
</div>