<section id="header-features" class="container">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell auto ellipsis">
                <span class="text-uppercase font-bold display-inline-block margin-right-1"><i class="far fa-clock"></i> Destaques:</span>
                <div class="cycle-slideshow display-inline-block"
                      data-cycle-fx="fade"
                      data-cycle-timeout="5000"
                      data-cycle-slides="> span"
                      data-cycle-prev=".prev"
                      data-cycle-next=".next"
                >
                    <span><a href="#" title="" rel="contents">Nova versão de relatório deixa estados e municípios fora da Previdência</a></span>
                    <span><a href="#" title="" rel="contents">Segundo o relator, deputado Samuel Moreira, discussão sobre inclusão de estados e municípios pode ficar para plenário </a></span>
                    <span><a href="#" title="" rel="contents">Copa América: Seleção brasileira vence Argentina e chega à final após 12 anos</a></span>
                    <span><a href="#" title="" rel="contents">Ex-juiz nega perseguição a jornalista após vazamento de mensagens da Lava Jato</a></span>
                </div>
            </div>

            <div class="cell small-2 medium-1 text-right">
                <span><a href="#" class="display-inline-block nav prev"><i class="fas fa-chevron-left"></i></a></span>
                <span><a href="#" class="display-inline-block nav next"><i class="fas fa-chevron-right"></i></a></span>
            </div>
        </div>
    </div>
</section>