<div class="weather-component width-100">
    <header class="width-100 text-center text-uppercase">
        <strong>Cajazeiras/PB</strong>
    </header>
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell auto text-center">
                <div class="width-100"><span>02/07</span></div>
                <div class="width-100"><span><i class="fas fa-cloud-sun"></i> 36°</span></div>
            </div>

            <div class="cell auto text-center">
                <div class="width-100"><span>03/07</span></div>
                <div class="width-100"><span><i class="fas fa-cloud"></i> 26°</span></div>
            </div>

            <div class="cell auto text-center">
                <div class="width-100"><span>04/07</span></div>
                <div class="width-100"><span><i class="fas fa-cloud-showers-heavy"></i> 22°</span></div>
            </div>
        </div>
    </div>
</div>