<header id="header" class="container padding-top-1 padding-bottom-1" role="banner">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-middle">
            <figure class="cell auto margin-0 site-brand margin-bottom-small-1" role="figure">
                <a href="#" title="Página principal" class="display-inline-block">
                    <img src="{{root}}assets/img/logohome.png" alt="Logo da CZN">
                </a>
            </figure>

            <div class="cell shrink margin-bottom-small-1 text-right hide-for-large">
                <span class="margin-right-1 display-inline-block">
                    <a href="#" role="button" data-mobile-menu><i class="fas fa-bars"></i></a>
                </span>
            </div>

            <figure class="cell small-12 medium-8 auto margin-0 text-center large-text-right medium-text-right" role="figure">
                <div class="display-inline-block">
                    <a href="#" title="Adsense">
                        <img src="{{root}}assets/img/adsa.jpg" alt="Logo da CZN">
                    </a>
                </div>
            </figure>

            <div class="cell shrink show-for-large">
                {{> header.weather}}
            </div>
        </div>
    </div>
</header>
{{> header.menu}}
{{> header.features}}