{{> topbar}}

<header id="header" class="container padding-top-1 padding-bottom-1">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <figure class="cell small-12 medium-4 large-3 margin-0 text-center medium-text-left" role="figure">
                <a href="#" title="Página principal" class="display-inline-block site-brand">
                    <img src="{{root}}assets/img/logo.png" alt="Logo da CZN">
                </a>
            </figure>

            <figure class="cell auto margin-0 text-center medium-text-right" role="figure">
                <a href="#" title="Adsense">
                    <img src="{{root}}assets/img/adsa.jpg" alt="Logo da CZN">
                </a>
            </figure>
        </div>
    </div>
</header>

{{> header.menu}}
{{> header.features}}