<div class="weather-component width-100 align-middle">
    <div class="grid-container">
        <div class="grid-x grid-padding-x text-center">
            <div class="cell small-12 text-uppercase">
                <span class="font-header">Cajazeiras</span>
            </div>
            <div class="cell small-12">
                <h6 class="width-50 margin-0 display-inline-block text-center max"><i class="fas fa-long-arrow-alt-up"></i> 35°C</h6>
                <h6 class="width-50 margin-0 display-inline-block text-center min"><i class="fas fa-long-arrow-alt-down"></i> 30°C</h6>
            </div>
        </div>
    </div>
</div>