<div class="container bgwhite header-single header-video">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell small-6 medium-4">
                <a href="#" data-mobile-menu title="Mostrar menu" class="display-inline-block margin-right-1">
                    <i class="fas fa-bars"></i>
                </a>

                <a href="#" title="Ir para a página principal" class="display-inline-block">
                    <img src="{{root}}assets/img/logo.png" alt="Logo do Portal CZN" width="90">
                </a>
            </div>
            <div class="cell small-6 medium-4 medium-text-center text-right">
                <h2 class="cat-name margin-0">
                    <strong><a href="#" title=""><i class="fas fa-play"></i> Vídeos</a></strong>
                </h2>
            </div>
            <div class="cell auto show-for-medium">
                <form action="" id="form-search-single">
                    <div class="input-group margin-0 font-header">
                        <label for="search-input-1" class="input-group-label padding-left-0"><i class="fas fa-search"></i></label>
                        <input type="search" id="search-input-1" class="input-group-field" placeholder="Pesquisar...">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="container padding-top-1 bg-black">-->
<!--    <div class="grid-container">-->
<!--        <div class="grid-x grid-padding-x align-center single-banner" role="banner">-->
<!--            <div class="cell auto text-center">-->
<!--                <img src="{{root}}assets/img/pub1.gif" alt="">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->