<section id="header-features" class="container">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell auto ellipsis">
                <span class="text-uppercase font-bold display-inline-block margin-right-1"><i class="far fa-clock"></i> Destaques:</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aperiam, cumque, doloremque ducimus expedita impedit minima minus necessitatibus, nobis officia officiis pariatur quas quia quos reprehenderit sed sunt veritatis.</span>
            </div>

            <div class="cell small-4 text-right">
                <span><a href="#" class="display-inline-block prev"><i class="fas fa-chevron-left"></i></a></span>
                <span><a href="#" class="display-inline-block next"><i class="fas fa-chevron-right"></i></a></span>
            </div>
        </div>
    </div>
</section>