<section id="home-features" class="container margin-top-3 headlines-group" role="main">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 medium-6">
                <article class="width-100 headline-1" role="article">
                    <h3 class="headline-kicker display-inline-block width-100">
                        <span class="display-inline-block">Previdência</span>

                        <span class="display-inline-block open-share">
                            <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                        </span>
                    </h3>
                    <h1 class="headline-url"><a href="#" title="">Nova versão de relatório deixa estados e municípios
                        fora da Previdência</a></h1>
                    <p class="headline-excerpt">Segundo o relator, deputado Samuel Moreira, discussão sobre inclusão de
                        estados e municípios pode ficar para plenário </p>
                </article>

                <div class="grid-container full margin-top-2">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12 medium-6" role="article">
                            <figure class="width-100">
                                <a href="#" title="">
                                    <img src="{{root}}assets/img/temp/news3.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="cell small-12 medium-6 headline-medium-v">
                            <h3 class="headline-kicker display-inline-block width-100">
                                <span class="display-inline-block">Copa América</span>

                                <span class="display-inline-block open-share">
                                    <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                                </span>
                            </h3>
                            <h1 class="headline-url"><a href="#" title="">Brasil vence Argentina e vai à final da Copa
                                América após 12 anos</a></h1>
                        </div>
                    </div>
                </div>

                <div class="grid-container full margin-top-2">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12 medium-6 headline-small">
                            <h3 class="headline-kicker display-inline-block width-100">
                                <span class="display-inline-block">Mercosul</span>

                                <span class="display-inline-block open-share">
                                    <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                                </span>
                            </h3>
                            <h1 class="headline-url"><a href="#" title="">'Acordo pode não avançar devido à radical mudança do governo Bolsonaro na área ambiental'</a></h1>
                        </div>

                        <div class="cell small-12 medium-6 headline-small">
                            <h3 class="headline-kicker display-inline-block width-100">
                                <span class="display-inline-block">Na Câmara</span>

                                <span class="display-inline-block open-share">
                                    <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                                </span>
                            </h3>
                            <h1 class="headline-url"><a href="#" title="">Grande acordo comercial que o Brasil tem que fazer é com ele mesmo, diz secretário
                            </a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>