<section class="container margin-bottom-2">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 medium-6">
                <div class="width-100 album-component position-relative cycle-slideshow"
                     data-cycle-fx="scrollHorz"
                     data-cycle-timeout="9000"
                     data-cycle-slides="> figure"
                     data-cycle-pager=".album-pager"
                     data-cycle-next=".next-gal"
                     data-cycle-prev=".prev-gal"
                     data-cycle-pager-template="<span></span>"
                     data-cycle-pause-on-hover="true"
                >
                    <header class="position-absolute">
                        <h3><a href="#" title="Todos os álbuns"><i class="fas fa-camera"></i> Galerias</a></h3>
                    </header>

                    <figure class="width-100">
                        <a href="#" title="" class="album-thumb" data-bg="{{root}}assets/img/temp/album1.jpg">
                            <span class="display-block position-absolute width-100 height-100"></span>
                            <figcaption class="width-100 position-absolute">
                                <strong class="width-100 display-inline-block">15 anos</strong>
                                <h2>Grande acordo comercial que o Brasil tem que fazer é com ele mesmo, diz secretário</h2>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class="width-100">
                        <a href="#" title="" class="album-thumb" data-bg="{{root}}assets/img/temp/album2.jpg">
                            <span class="display-block position-absolute width-100 height-100"></span>
                            <figcaption class="width-100 position-absolute">
                                <strong class="width-100 display-inline-block">Wesley Safadão</strong>
                                <h2>Líder democrata busca apoio para condenar tuíte racista de Trump</h2>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class="width-100">
                        <a href="#" title="" class="album-thumb" data-bg="{{root}}assets/img/temp/album3.jpg">
                            <span class="display-block position-absolute width-100 height-100"></span>
                            <figcaption class="width-100 position-absolute">
                                <strong class="width-100 display-inline-block">Aniversariante do mês</strong>
                                <h2>Vestibular 2020: Veja os cronogramas das principais universidades de SP</h2>
                            </figcaption>
                        </a>
                    </figure>

                    <a href="#" title="Anterior" class="nav-gal display-block prev-gal"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" title="Próximas" class="nav-gal display-block next-gal"><i class="fas fa-chevron-right"></i></a>

                    <nav class="album-pager position-absolute"></nav>
                </div>
            </div>
        </div>
    </div>
</section>