<section class="container" role="main">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 white-container text-center margin-bottom-2" role="banner">
                <div class="width-100 bg-white padding-1 radius">
                    <header class="width-100 text-uppercase text-left font-header">
                        <span>Publicidade</span>
                    </header>
                    <img src="{{root}}assets/img/pub1.gif" alt="">
                </div>
            </div>

            <div class="cell small-12 medium-4 popular-article margin-bottom-1">
                <div class="width-100 position-relative">
                    <header class="width-100 position-absolute width-100 text-center padding-top-2">
                        <h4 class="margin-bottom-1"><i class="fas fa-plus"></i> Lida do dia</h4>
                        <h2><a href="#" title="">Vestibular 2020: Veja os cronogramas das principais universidades de SP</a></h2>
                    </header>
                    <figure class="position-absolute width-100 height-100" data-bg="{{root}}assets/img/temp/popular.jpg">
                        <a href="#" class="display-block position-absolute width-100 height-100">

                        </a>
                    </figure>
                </div>
            </div>

            <div class="cell small-12 medium-4 margin-bottom-1">
                {{> component.loteria}}
            </div>

            <div class="cell small-12 medium-4 margin-bottom-1">
                {{> tv.diario}}
            </div>
        </div>
    </div>
</section>