<div class="container margin-top-1 section-bg-light padding-top-2 padding-bottom-2 margin-bottom-2" role="main">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 medium-8 section-header primary">
                <div class="grid-x margin-bottom-1">
                    <div class="cell shrink">
                        <h2 class="display-inline-block">
                            <a href="#" title="Política">Política</a>
                        </h2>
                    </div>
                    <div class="cell auto text-right show-for-medium margin-left-1">
                        <ul class="menu header-menu">
                            <li><a href="#" title="">Lava-jato</a></li>
                            <li><a href="#" title="">Previdência</a></li>
                            <li><a href="#" title="">Câmara</a></li>
                            <li><a href="#" title="">Vazamentos de áudio</a></li>
                            <li><a href="#" title="">Lula na prisão</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid-container full">
                    <div class="grid-x grid-padding-x">
                        <div class="cell small-12 medium-6 large-8 headlines-group">
                            <figure class="width-100 news-containers">
                                <a href="#" title=""><img src="{{root}}assets/img/temp/politica1.jpg" alt=""></a>
                                <figcaption class="width-100 margin-top-1 headline-medium-v">
                                    <h3 class="headline-kicker display-inline-block width-100">
                                        <span class="display-inline-block">Previdência</span>

                                        <span class="display-inline-block open-share">
                                            <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                                        </span>
                                    </h3>
                                    <h1 class="headline-url medium">
                                        <a href="#" title="">Nova versão de relatório deixa estados e municípios fora da Previdência</a>
                                    </h1>
                                    <p class="headline-excerpt margin-0">Filhote foi descoberto após cuidadores notarem que casal ficava mais tempo no ninho que o habitual</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="cell small-12 medium-6 large-4 headlines-group hide-img">
                            <figure class="width-100 headline-small">
                                <a href="#"><img src="{{root}}assets/img/temp/news4.jpg" alt=""></a>
                                <figcaption class="width-100 margin-top-1">
                                    <h3 class="headline-kicker display-inline-block width-100">
                                        <span class="display-inline-block">Lava-jato</span>

                                        <span class="display-inline-block open-share">
                                            <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                                        </span>
                                    </h3>
                                    <h1 class="headline-url"><a href="#" title="">'Acordo pode não avançar devido à radical
                                        mudança do governo Bolsonaro na área ambiental'</a></h1>
                                </figcaption>
                            </figure>

                            <figure class="width-100 headline-small">
                                <figcaption class="width-100 margin-top-1">
                                    <h3 class="headline-kicker display-inline-block width-100">
                                        <span class="display-inline-block">Grande acordo</span>

                                        <span class="display-inline-block open-share">
                                            <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                                        </span>
                                    </h3>
                                    <h1 class="headline-url"><a href="#" title="">Grande acordo comercial que o Brasil tem que
                                        fazer é com ele mesmo, diz secretário</a></h1>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="cell small-12 medium-4">
                <div class="white-container width-100 stack-component text-center" role="banner">
                    <div class="width-100 display-inline-block text-left">
                        <ul class="menu vertical">
                            <li><strong class="text-uppercase">Ibovespa</strong> <span> <strong class="green"><i class="fas fa-long-arrow-alt-up"></i> 3,75%</strong> R$5,20</span></li>
                            <li><strong class="text-uppercase">Dólar Comercial</strong> <span> <strong class="red"><i class="fas fa-long-arrow-alt-down"></i> -5,24%</strong> R$4,20</span></li>
                            <li><strong class="text-uppercase">Peso Argentino</strong> <span> <strong class="green"><i class="fas fa-long-arrow-alt-up"></i> 1,64%</strong> R$7,60</span></li>
                            <li><strong class="text-uppercase">Euro</strong> <span> <strong class="red"><i class="fas fa-long-arrow-alt-down"></i> -1,42%</strong> R$3,20</span></li>
                            <li><strong class="text-uppercase">Libra</strong> <span> <strong class="red"><i class="fas fa-long-arrow-alt-down"></i> -1,33%</strong> R$6,90</span></li>
                        </ul>
                    </div>
                </div>

                <div class="white-container width-100 text-center margin-top-1" role="banner">
                    <header class="width-100 text-center text-uppercase font-header">
                        <span>Publicidade</span>
                    </header>
                    <img src="{{root}}assets/img/temp/pub2.gif" alt="">
                </div>
            </aside>
        </div>
    </div>
</div>