<section id="section-news" class="container margin-bottom-2" role="main">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <header class="cell small-12 section-header padding-top-1">
                <div class="grid-x margin-bottom-1">
                    <div class="cell shrink">
                        <h2 class="display-inline-block">
                            <a href="#" title="Política">Notícias</a>
                        </h2>
                    </div>
                    <div class="cell auto text-right show-for-medium margin-left-1">
                        <ul class="menu header-menu">
                            <li><a href="#" title="">Lava-jato</a></li>
                            <li><a href="#" title="">Previdência</a></li>
                            <li><a href="#" title="">Câmara</a></li>
                            <li><a href="#" title="">Vazamentos de áudio</a></li>
                            <li><a href="#" title="">Lula na prisão</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="cell small-12 medium-3 news-group">
                <figure class="width-100 position-relative">
                    <a href="#" class="news-cat display-block width-100" title="Todas as notícias em Policial"><i class="far fa-folder"></i> Policial</a>
                    <a href="#" class="display-inline-block width-100 news-thumb position-relative" title="">
                        <img src="{{root}}assets/img/temp/news6.webp" alt="">
                    </a>

                    <figcaption class="width-100 margin-top-1">
                        <h3 class="headline-kicker display-inline-block width-100">
                            <span class="display-inline-block">Previdência</span>

                            <span class="display-inline-block open-share">
                                <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                            </span>
                        </h3>
                        <h2><a href="#" title="">Grande acordo comercial que o Brasil tem que fazer é com ele mesmo, diz secretário</a></h2>
                    </figcaption>
                </figure>
            </div>
            <div class="cell small-12 medium-3 news-group">
                <figure class="width-100 position-relative">
                    <a href="#" class="news-cat display-block width-100" title="Todas as notícias em Brasil"><i class="far fa-folder"></i> Brasil</a>
                    <a href="#" class="display-inline-block width-100 news-thumb position-relative" title="">
                        <img src="{{root}}assets/img/temp/news7.webp" alt="">
                    </a>

                    <figcaption class="width-100 margin-top-1">
                        <h3 class="headline-kicker display-inline-block width-100">
                            <span class="display-inline-block">São Paulo</span>

                            <span class="display-inline-block open-share">
                                <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                            </span>
                        </h3>
                        <h2><a href="#" title="">Vestibular 2020: Veja os cronogramas das principais universidades de SP</a></h2>
                    </figcaption>
                </figure>
            </div>
            <div class="cell small-12 medium-3 news-group">
                <figure class="width-100 position-relative">
                    <a href="#" class="news-cat display-block width-100" title="Todas as notícias em Mundo"><i class="far fa-folder"></i> Mundo</a>
                    <a href="#" class="display-inline-block width-100 news-thumb position-relative" title="">
                        <img src="{{root}}assets/img/temp/news8.webp" alt="">
                    </a>

                    <figcaption class="width-100 margin-top-1">
                        <h3 class="headline-kicker display-inline-block width-100">
                            <span class="display-inline-block">EUA</span>

                            <span class="display-inline-block open-share">
                                <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                            </span>
                        </h3>
                        <h2><a href="#" title="">Líder democrata busca apoio para condenar tuíte racista de Trump</a></h2>
                    </figcaption>
                </figure>
            </div>
            <div class="cell small-12 medium-3 news-group">
                <figure class="width-100 position-relative">
                    <a href="#" class="news-cat display-block width-100" title="Todas as notícias em Esportes"><i class="far fa-folder"></i> Esportes</a>
                    <a href="#" class="display-inline-block width-100 news-thumb position-relative" title="">
                        <img src="{{root}}assets/img/temp/news3.jpg" alt="">
                    </a>

                    <figcaption class="width-100 margin-top-1">
                        <h3 class="headline-kicker display-inline-block width-100">
                            <span class="display-inline-block">Copa América</span>

                            <span class="display-inline-block open-share">
                                <i class="fas fa-share-alt" data-toggle="share-dropdown"></i>
                            </span>
                        </h3>
                        <h2><a href="#" title="">Grande acordo comercial que o Brasil tem que fazer é com ele mesmo, diz secretário</a></h2>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>