<li>
    <a href="#" title="Compartilhar no Twitter">
        <i class="fab fa-twitter"></i>
    </a>
</li>
<li>
    <a href="#" title="Compartilhar no Facebook">
        <i class="fab fa-facebook-f"></i>
    </a>
</li>
<li>
    <a href="#" title="Compartilhar no Linkedin">
        <i class="fab fa-linkedin-in"></i>
    </a>
</li>
<li>
    <a href="#" title="Enviar por email">
        <i class="far fa-envelope"></i>
    </a>
</li>
<li>
    <a href="#" title="Imprimir post">
        <i class="fas fa-print"></i>
    </a>
</li>
<li>
    <a href="#comments" title="Comentários">
        <i class="far fa-comments"></i>
    </a>
</li>