<div class="cell small-12 list-videos">
    <header class="width-100 padding-1 margin-bottom-2">
        <input type="search" class="width-100 search-video margin-0" placeholder="Buscar vídeos...">
    </header>

    <div class="grid-container full">
        <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v1.jpg" alt="">
                        <p>Previdência</p>
                    </a>
                    <figcaption>
                        <a href="#">Lollapalooza 2014: Chromeo – Interview with Dave 1 and P-Thugg</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v2.jpg" alt="">
                        <p>Lava-jato</p>
                    </a>
                    <figcaption>
                        <a href="#">What happens when your carryon is over the limit</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v3.jpg" alt="">
                        <p>Lolapalooza</p>
                    </a>
                    <figcaption>
                        <a href="#">Major Deep – Feelings January 2015 Deep House Mix</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v4.jpg" alt="">
                        <p>Culinária</p>
                    </a>
                    <figcaption>
                        <a href="#">Workout Routine for Big Forearms and a Crushing Grip</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v5.jpg" alt="">
                        <p>Show Ao vivo</p>
                    </a>
                    <figcaption>
                        <a href="#">Louge music reasons why in-form Leicester City will finish</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v6.jpg" alt="">
                        <p>Show Ao vivo</p>
                    </a>
                    <figcaption>
                        <a href="#">Workout Routine for Big Forearms and a Crushing Grip</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v7.jpg" alt="">
                        <p>Previdência</p>
                    </a>
                    <figcaption>
                        <a href="#">Lollapalooza 2014: Chromeo – Interview with Dave 1 and P-Thugg</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v8.jpg" alt="">
                        <p>Lava-jato</p>
                    </a>
                    <figcaption>
                        <a href="#">What happens when your carryon is over the limit</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cell video-feature-mini">
                <figure>
                    <a href="#" title="">
                        <span><i class="fas fa-play-circle"></i></span>
                        <img src="{{root}}assets/img/temp/v9.png" alt="">
                        <p>Lava-jato</p>
                    </a>
                    <figcaption>
                        <a href="#">What happens when your carryon is over the limit</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <a href="#" class="button expanded hollow small text-uppercase alert">Mais vídeos</a>
</div>