<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal CZN - {{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>

{{> menu.offcanvas}}
{{> header}}
{{> body}}
{{> dropdown.share.headline}}

<script src="https://kit.fontawesome.com/5ef691494b.js"></script>
<script src="{{root}}assets/js/app.js"></script>
<script src="http://malsup.github.io/min/jquery.cycle2.min.js"></script>
<script src="http://malsup.github.io/min/jquery.cycle2.swipe.min.js"></script>
</body>
</html>
